

<html>
<head></head>
<body>
<div style="width: 98%;font-family: arial;">
<div style="height: 60px;">
    <h1 style="font-size: 16px;color: #000;"><a href="http://www.trainocate.com"><img src="https://trainocate.com/Images/tri-logo.png" alt="Trainocate E-Learning System" border="0"></a><br><br>Trainocate E-Learning System</h1>
</div>
<br>
<div style="width: 96%;float: left;display:block;padding: 15px 25px;background: white;">
{% autoescape off %}
<p><label>Hi {{ user.username }},</label></p>
<p><label>Thank you for registering your account with Trainocate E-Learning System.</label></p>
<p><label>Please activate your account by Clicking <a href="http://{{ domain }}{% url 'activate' uidb64=uid token=token %}">here</a></label></p>
{% endautoescape %}
<p><label>&nbsp;</label></p>
<p><label>&nbsp;</label></p>
<p><label>Regards,</label></p>
<p><label>Trainocate Support Team</label></p>
<p><label>Trainocate Networks India Private Limited India</label></p>
<p><label>1st Floor, Royal Barter, No 78/1, Residency Rd, Ashok Nagar, Bengaluru, Karnataka 560025, India</label></p>
<p><label>Phone: +91 80 4050 0999 </label></p>
</div>
</div>

<div style="border-bottom: 1px solid #4D5B76;background: #ff5733;position: relative;padding: 10px 0;font-size: 12px;color: white;bottom: 0;text-align: center;clear: both;">
&copy; Copyright 2020&nbsp;<a href="http://www.trainocate.com" target="_blank" style="color: white;">Trainocate.com</a></div>
</body>
</html>
