
{% load static %}
<footer>
<hr style="background:#EEE; margin-bottom:0px; margin-top:0px">
  <div id="container">

    <div class="box">
      <h2>Know Us</h2>
      <div class="address">
      <a href="{% url 'contact'%}" target="_blank"><i class="fa fa-phone">&nbsp;</i>Contact</a><br>
        <a href="{% url 'about'%}" target="_blank"><i class="fa fa-group">&nbsp;</i>About</a><br>
        <a href="{% url 'termsofservice'%}" target="_blank"><i class="glyphicon glyphicon-pencil">&nbsp;</i>Terms of service</a>
      </div>
    </div>


    <div class="box">
      <h2>Follow Us</h2>
      <!-- <p>Trainocate is a leading learning and development service provider company, delivering training in critical career competencies such as Analytics, Artificial Intelligence, Big Data, Cloud Computing, Data Science, Dev Ops, Machine Learning and more. These Training and Certifications programmes are created and developed by leading technology conglomerates such as Amazon (AWS), Cisco, Google (GCP), IBM, Microsoft, NetApp, Red Hat, Trend Micro and VMware and many others.</p>

      <p>We at Trainocate are proud to have helped thousands of professionals and companies in building competencies in current and emerging areas. We further solidify them through inhouse assessment tools followed by industry recognized certifications, thus increasing your company’s credibility and market value of your employees.</p> -->
      <div class="social">
        <a href="https://www.facebook.com/Trainocate-1224598267656077/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/TrainocateIndia" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/trainocateindia" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.youtube.com/channel/UCSx4W7LbATGPFtO8JceC8JA" target="_blank"><i class="fa fa-youtube"></i></a>
      </div>

    </div>
    <div class="box">
      <h2>Address</h2>
      <div class="address">
        <a href="https://maps.app.goo.gl/4AFo7Gp5DTV3zkzS7" target="_blank">
          <i class="fa fa-map-marker"></i>
          Chennai
        </a><br>
        <a href="tel:+044-42121290">
          <i class="fa fa-phone-square"></i>
          +044-42121290
        </a><br>
        <a href="mailto:india@trainocate.com?Subject=Hello%20again" target="_top">
          <i class="fa fa-envelope"></i>
          india@trainocate.com
        </a>
      </div>
    </div>

  </div>
  <div class="author">
    <p>Copyright © 2020. All Rights Reserved.</p>
  </div>
</footer>
